* {padding:0; margin:0;}

body {
  background: #020202;
  color: white;
  margin: 10px;
}

header, main {
  text-align: center;
}

a {
  color: #0cd40c;
}

#input {
  padding: 5px;
  margin: 10px;
  font-size: 20px;
  text-align: center;
  width: -webkit-fill-available;
}

#table { /* Useless? */
  min-width: 455px;
}

.cell {
  background: snow;
  color: white;
  display: inline-block;
  width: 75px;
  height: 50px;
  padding: 5px;
  margin: 1px;
  text-align: center;
  vertical-align: top;
}

.cell:not(.wanted) {
  opacity: 0.09;
}

.row:not(.wanted) {
  display: none;
}

.cell.empty * {
  visibility: hidden;
}

.cell.A {
  background: #024a02;
}

.cell.S {
  background: #009a00;
}

.cell.L {
  background: yellowgreen;
}

.what {
  font-size: 25px;
}
.who, .where {
  font-size: 15px;
}

footer {
  white-space: pre-line;
}

section {
  background: #9ac343;
  color: black;
  padding: 10px;
}
