* {padding:0; margin:0;}

body {
  margin: 10px;
  background: black;
  color: white;
}

header, main {
  text-align: center;
}

#input {
  padding: 5px;
  margin: 10px;
  font-size: 20;
  text-align: center;
  width: -webkit-fill-available;
}

#table {
  min-width: 455px;
}

hr {
  margin: 10px;
}

.cell {
  background: snow;
  opacity: .2;
  display: inline-block;
  color: white;
  width: 75px;
  height: 50px;
  padding: 5px;
  margin: 1px;
  text-align: center;
  vertical-align: top;
}

.cell.empty * { visibility: hidden; }

.cell.wanted {opacity: 1;}

.cell.A {
  background: #500d50;
}

.cell.S {
  background: darkmagenta;
}

.cell.L {
  background: mediumvioletred;
}

.what {
  padding: 0px 0px;
  font-size: 25px;
}
.who, .where { display: inline-block;}
.where {font-style: italic;font-size: 15px;}

footer {
  white-space: pre-line;
}

section {
  background: darkgray;
  color: black;
  padding: 10px;
}