* {
  margin: 0;
  padding: 0;
}

body {
  background: snow;
  text-align: center;
}

/********************************/

form {
  background: lightgray;
}

fieldset {
  border: 0px;
}

table {
  background: white;
  margin: auto;
}

#user-vars {
  background: white;
  text-align: left;
  padding: 5px;
  margin: 5px;
  line-height: 2;
  font-size: 17px;
}

#user-vars input {
  color: darkblue;
  font-size: 17px;
  border: 0;
  border-bottom: 2px dashed black;
  outline: none;
}

textarea {
  color: darkblue;
  height: 150px;
  outline: none;
  padding: 3px;
}
textarea[title] {
  background-color: red;
  color: black;
}

#buttons {
  margin: 3px 0;
}

/********************************/

/* itch.io uses 640x360 by default */
#sim {
  background: black;
  width: 640px;
  height: 360px;
  margin: 5px auto;
  display: grid;
  /* place-items: center right; */
}

.feu {
  background-color: red;
  background-image: url(images/traffic-lights-red.svg);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  place-self: center;
}
#sim[data-feu="0"] .feu {
  background-color: gray !important;
}
#sim[data-feu="1"] #feu1 {
  background-image: url(images/traffic-lights-green.svg);
  background-color: yellowgreen;
}
#sim[data-feu="2"] #feu2 {
  background-image: url(images/traffic-lights-green.svg);
  background-color: yellowgreen;
}

#voie1, #voie2 {
  background: white;
  padding: 5px;
  width: 50%;
  display: flex;
  height: 25px;
}

#voie1 {
    flex-direction: row-reverse;
}
#voie2 {
    place-self: center right;
}

#carrefour {
  background: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  place-self: center center;
  place-items: center center;
  display: grid;
}

.vehicle {
  width: 50px;
  height: 25px;
  display: inline-block;
  background-color: black;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-position: 50% 25%;
  margin: 0 1px;
  opacity: 1;
  transition: opacity 1s, margin 1s;
}
.car {background-image: url(images/city-car.svg);}
.truck {background-image: url(images/truck.svg);}

.traversee2 {
  transform: rotateY(180deg);
}

.leaving {
  opacity: 0;
}
.traversee1.leaving {
  margin-right: -100px;
}
.traversee2.leaving {
  margin-left: -100px;
}

/********************************/

section {
  background: lightgray;
  text-align: left;
  margin: 5px;
  padding: 10px;
}
section pre {
  white-space: pre-line;
}
